.formWrapper {
  width: 60%;
  margin: 0 auto;
  padding: 35px;
}

.formTitle {
  text-align: center;
  color: #123f30;
}

.form {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.registerInfo {
  color: #060616;
  font-size: 18px;
  line-height: 1.27;
  margin-bottom: 25px;
}

.link {
  color: #0e0e31;
  font-style: italic;
}
